body, html {
    font-family: Helvetica;
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
}

/* No Scrollbar*/
body::-webkit-scrollbar {
    display: none;
}
/* HEADER */
.header {
    background-color: #2f2f2f;
    color: #FFFFFF;
    padding-left: 10px;
    margin: 0px;
    width: 100%;
    border: 0px;
    height: 50px;
    font-size: 18px;
    box-sizing: inherit;
}

.header_button:hover {
    background-color: #636363;
}
.header_button {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    float: right;
}

/* improve links */
a{
    text-decoration: none;
    color: inherit;
}

/* textboxes */
.section {
    color: #000000;
    padding: 30px;
    padding-top: 20px;
    background-color: #cccccc;
    margin: 30px;
    margin-bottom: 0px;
    border-radius: 10px;
    justify-content: center;
}

.flex-container {
    display: flex;
    width: 100%;
}

.myProj {
    flex-grow: 16;
    margin-right: 0px;
    padding-bottom: 20px;
}

.contact {
    flex-grow: 5;
    padding-bottom: 20px;
}

/* light and dark mode */
.lightdark {
    background-color: #999999;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin:5px;
    display: flex;
    right: 5px;
    bottom: 5px;
    padding: 10px;
    position: absolute;
}

.lightdark:hover {
    background-color: #646464;
}
